@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background-image: linear-gradient(to top, #2b3b97 0%, #75b0dd 100%);
    overflow-y: hidden;
}

/* Car and Scenery */
.night {
    height: 100%;
    width: 100%;
    background: url('Scenery 1.jpg');
    background-size: cover;
    position: relative;
    box-shadow: 1px 2px 60px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
}

.surface {
    height: 200px;
    width: 500%;
    background: url('Mountain 1.png');
    display: block;
    position: absolute; 
    bottom: 0%;
    left: 0%;
    background-repeat: repeat-x;
    animation: road 5s linear infinite;
}


.car {
    position: absolute;
    bottom: 2%;
    left: 24%;
}

.moveRight {
    animation: moveRight 6s linear infinite;
}

.suspension {
    animation: suspension 1s linear infinite;
}

/* Animations */
@keyframes moveRight {
    100% { transform: translateX(-2950px); }
}

@keyframes suspension {
    0%, 100% { transform: translateY(-1px); }
    50% { transform: translateY(2px); }
}
